body

{
    background-color:bisque;
}

p

{
 color:Brown;
 font-weight:900;
}

div

{
    max-width: 750px;

}
wrapper
{float:center;
background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpl.pngtree.com%2Ffreebackground%2Fcheerful-emoji-in-3d-render-with-vibrant-red-background_3652185.html&psig=AOvVaw1y_KG5IbScHkiSFRkcYYuh&ust=1725445418633000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJDewaDHpogDFQAAAAAdAAAAABAE) repeat-y right top;width: 1000px;
}
